* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --taco-lightbrown: #e5ae60;
  --taco-brown: #ab7833;
  --taco-darkbrown: #7b4e0f;
  --taco-green: #83fc2c;
}

body {
  height: 1000px;
  background-color: antiquewhite;
  z-index: 1;
}

/* Header Field */
#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  position: fixed;
  top: 0;
  box-shadow: -10px 10px 20px var(--taco-darkbrown);
  z-index: 10;
  background-color: antiquewhite;
}

#header-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: min-content;
  place-items: center;
}

h1 {
  color: var(--taco-brown);
}

#header-img {
  max-width: 4vw;
  margin-right: 1rem;
  border-radius: 100%;
}

#nav-bar {
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
  place-items: center;
}

#nav-bar a{
  text-decoration: none; 
  color: var(--taco-brown);
  font-size: 1.3rem;
}


/* Main Field */
main {
  position: relative;
  top: 7rem;
}

main h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 20%;
  text-align: center;
  margin-bottom: 0.5rem;
  line-height: 2rem;
  font-size: 1rem;
}

#keunikan-container {
  display: flex;
  flex-direction: column;
  margin: 4rem auto 0 auto;
  width: 50vw;
}

.keunikan {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 1rem;
}

.keunikan-icon{
  width: 2rem;
  place-self: center;
}

.keunikan-content * {
  margin: 0.5rem;
}

.keunikan-description {
  font-size: 0.8rem;
}

#ulasan-container {
  margin: 4rem auto 0 auto;
  width: 100%;
}

#video-ulasan1 {
  width: 420px;
  height: 315px;
  display: flex;
  margin: 0 auto;
}

#rasa-container {
  margin: 4rem auto 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.varian-rasa {
  
}

